* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, "Segoe UI", sans-serif;
  line-height: 1.5;
}

.container {
  margin: auto;
  max-width: 975px;
  overflow: auto;
  padding: 0 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding: 1rem;
}

.primary-color {
  color: #f7c08a;
}

.bg-primary {
  color: #333;
  background-color: #f7c08a;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
}
.bg-dark {
  background-color: #333;
  color: #fff;
}

.lead-text {
  font-size: 1.25rem;
  margin: 1.5rem;
}

.clear {
  clear: both;
}

.l-heading {
  font-size: 2rem;
}

.py1 {
  padding: 0.5rem 0;
}
.py2 {
  padding: 1rem 0;
}
.py3 {
  padding: 1.5rem 0;
}

.btn {
  display: inline-block;
  background-color: #333;
  font-size: 1rem;
  color: #fff;
  margin: 1rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

/*Navbar хэлбэржүүлэлт*/
#navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 1.25rem;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: #444;
  color: #f7c08a;
}

/*showcase хэлбэржүүлэлт*/
header {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
}

#showcase {
  color: #fff;
  text-align: center;
  padding-top: 12rem;
}

#showcase h1 {
  font-size: 4rem;
}

/*Мэдээллийн хэсэг*/
#hotel-info {
  height: 30rem;
}

#hotel-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat;
  min-height: 100%;
}

#hotel-info .info-text {
  float: right;
  width: 50%;
  overflow: hidden;
  text-align: center;
}

/*Features хэлбэржүүлэлт*/
.box {
  float: left;
  width: 33.3%;
  padding: 3rem;
  text-align: center;
}

.box i {
  margin: 0.75rem;
}

/*About Info хэсгийн хэлбэржүүлэлт*/

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 40%;
}

#about-info .info-left {
  float: left;
  width: 50%;
}

/*Comments хэсгийн хэлбэржүүлэлт*/
#comments {
  height: 100%;
  background: url("/img/test-bg.jpg") no-repeat center center/cover;
}

#comments .comment {
  display: inline-block;
  margin: 1rem;
  padding: 1.25rem;
  height: 100%;
  border-radius: 0.75rem;
  opacity: 0.8;
}

#comments .comment img {
  float: left;
  border-radius: 50%;
  width: 20%;
  margin-right: 1rem;
}

#comments h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

/*Contact form*/
#contact-form label {
  display: block;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  border: 1px #ddd solid;
  padding: 0.75rem;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact-form textarea {
  height: 12rem;
}

/*Хуудасны footer*/
#main-footer {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 1rem;
}
