#navbar #logo {
  float: none;
  text-align: center;
}
#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 0.5rem;
  border-bottom: #666 dotted 1px;
}

#showcase h1 {
  font-size: 2rem;
}
#showcase {
  padding-top: 3rem;
}

#hotel-info {
  height: 100%;
}
#hotel-info .info-img {
  display: none;
}

#hotel-info .info-text {
  float: none;
  width: 100%;
}

#hotel-info .info-text h2,
#hotel-info .info-text a {
  margin: 1.5rem;
}

.box {
  float: none;
  width: 100%;
}

.container {
  padding: 0 0.25rem;
}

h1,
h2,
h3 {
  padding: 0.25rem;
}

.lead-text {
  font-size: 1rem;
  margin: 1.5rem;
}

.btn {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
  padding: 1rem 0.5rem;
}

#about-info .l-heading {
  text-align: center;
}

#comments .comment img {
  width: 50%;
}

#contact-info .box {
  border-bottom: #666 dotted 1px;
  padding: 1rem;
}
